<!DOCTYPE html>
<html>
	<head>
{% load static %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>EvotingApp</title>
		<link rel="stylesheet" href="/static/style.css" />
		<script src="/static/fnt.js" crossorigin="anonymous"></script>
	</head>
	<body>

		<div class = "Container">
			<form class = "loginForm">
			<div class = "header">
				<div class="hlogo">
					<img src="/static/logo.png" alt="logo1" class="banner">
				</div>
				<div class = "htitle">
					<h1>E-Voting System</h1>
				</div>
				<div class = "logintype">
					<ul class="hmenubar">
						<li><a href = "/adminlogin" target="_blank">admin Login</a></li>
						<li><a href = "/partylogin" target="_blank">Party Login</a></li>
					</ul>
				</div>
			</div>
				<div class="nav">
					<ul class="menubar">
						<li><a href = "/home">Home</a></li>
						<li><a href = "/ureg" target="_blank">Registration</a></li>
						<li><a href = "/userv">Services</a></li>
						<li><a href = "/uabout" target="_blank">About</a></li>
						<li><a href = "/ucontact" target="_blank">Contact US</a></li>
					</ul>
						<div class="search">
							<form>
								<input type = "text" placeholder="Search"></input>
								<input type = "button" value = "Search" style ="height: 24px; width: 63px;"></input>
							</form>
						</div>
				</div>
				<div class="def">
			<table>
				<tbody>
					<tr>
						<td>
							<p>
								India is a Socialist, Secular, Democratic Republic and the largest democracy in the World. The
								modern Indian nation state came into existence on 15th of August 1947. Since then free and fair
								elections have been held at regular intervals as per the principles enshrined in the Constitution,
								Electoral Laws and System.
							</p>
							<p>
								The Constitution of India has vested in the Election Commission of India the superintendence,
								direction and control of the entire process for conduct of elections to Parliament and Legislature
								of every State and to the offices of President and Vice-President of India.
							</p>
							<p>
								Election Commission of India is a permanent Constitutional Body. The Election Commission was
								established in accordance with the Constitution on 25th January 1950. The Commission celebrated
								its Golden Jubilee in 2001.
							</p>
							<p>
								Originally the commission had only a Chief Election Commissioner. It currently consists of Chief
								Election Commissioner and two Election Commissioners.<br>
								For the first time two additional Commissioners were appointed on 16th October 1989 but they had a
								very short tenure till 1st January 1990. Later, on 1st October 1993 two additional Election
								Commissioners were appointed. The concept of multi-member Commission has been in operation since
								then, with decision making power by majority vote.
							</p>
							<p>
								The Commission has a separate Secretariat at New Delhi, consisting of about 300 officials, in a
								hierarchical set up.
							</p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
				
				<div class = "footer">
					<table class = "foottable">
						<tr>
							<td align ="center">e-votingSystem&copy;2022</td>
							<td><i class="fa fa-envelope"></i><i class="fa fa-facebook-official"></i><i class="fa fa-twiter-official"></i>
							<i class="fa fa-instagram"></i>
							</td>
							
						</tr>
					</table>
				</div>
			</form>
			
		</div>
	</body>
</html>