<!DOCTYPE html>
<html>
	<head>
{% load static %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>EvotingApp | LogIn page</title>
		<link rel="stylesheet" href="../../static/style.css" />
		<script src="/static/fnt.js" crossorigin="anonymous"></script>
	</head>
	<body>

		<div class = "Container">
			<div class = "header">
				<div class="hlogo">
					<img src="/static/logo.png" alt="logo1" class="banner">
				</div>
				<div class = "htitle">
					<h1>E-Voting System</h1>
				</div>
				<div class = "logintype">
					<ul class="hmenubar">
						<li><a href = "/adminlogin" target="_blank">admin Login</a></li>
						<li><a href = "/partylogin" target="_blank">Party Login</a></li>
					</ul>
				</div>
			</div>
			<div class="nav">
				<ul class="menubar">
					<li><a href = "/home">Home</a></li>
					<li><a href = "/reg" target="_blank">Registration</a></li>
					<li><a href = "/ser" target="_blank">Services</a></li>
					<li><a href = "#" target="_blank">About</a></li>
					<li><a href = "/contact" target="_blank">Contact US</a></li>
				</ul>
					<div class="search">
						<form>
							<input type = "text" placeholder="Search"></input>
							<input type = "button" value = "Search" style ="height: 24px; width: 63px;"></input>
						</form>
					</div>
			</div>
			<h1 class = "heading">E-Voting Login Form</h1>
			<div class="imgcontainer">
				<img src="/static/logo.jpg" alt="logo" class="logo">
			</div>
			
			<div class = "footer">
				<table class = "foottable">
					<tr>
						<td align ="center">e-votingSystem&copy;2022</td>
						<td><i class="fa fa-envelope"></i><i class="fa fa-facebook-official"></i><i class="fa fa-twiter-official"></i>
						<i class="fa fa-instagram"></i>
						</td>							
					</tr>
				</table>
			</div>
		</div>
	</body>
</html>